In [19]:
import pandas as pd

In [20]:
df = pd.read_csv('heart_attack_prediction_indonesia.csv')

In [21]:
df.head()

,age,gender,region,income_level,hypertension,diabetes,cholesterol_level,obesity,waist_circumference,family_history,...,blood_pressure_diastolic,fasting_blood_sugar,cholesterol_hdl,cholesterol_ldl,triglycerides,EKG_results,previous_heart_disease,medication_usage,participated_in_free_screening,heart_attack
0,60,Male,Rural,Middle,0,1,211,0,83,0,...,62,173,48,121,101,Normal,0,0,0,0
1,53,Female,Urban,Low,0,0,208,0,106,1,...,76,70,58,83,138,Normal,1,0,1,0
2,62,Female,Urban,Low,0,0,231,1,112,1,...,74,118,69,130,171,Abnormal,0,1,0,1
3,73,Male,Urban,Low,1,0,202,0,82,1,...,65,98,52,85,146,Normal,0,1,1,0
4,52,Male,Urban,Middle,1,0,232,0,89,0,...,75,104,59,127,139,Normal,1,0,1,1

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 158355 entries, 0 to 158354
Data columns (total 28 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   age                             158355 non-null  int64
 1   gender                          158355 non-null  object
 2   region                          158355 non-null  object
 3   income_level                    158355 non-null  object
 4   hypertension                    158355 non-null  int64
 5   diabetes                        158355 non-null  int64
 6   cholesterol_level               158355 non-null  int64
 7   obesity                         158355 non-null  int64
 8   waist_circumference             158355 non-null  int64
 9   family_history                  158355 non-null  int64
 10  smoking_status                  158355 non-null  object
 11  alcohol_consumption             63507 non-null   object
 12  physical_activity               158355 non-null  object
 13  dietary_habits                  158355 non-null  object
 14  air_pollution_exposure          158355 non-null  object
 15  stress_level                    158355 non-null  object
 16  sleep_hours                     158355 non-null  float64
 17  blood_pressure_systolic         158355 non-null  int64
 18  blood_pressure_diastolic        158355 non-null  int64
 19  fasting_blood_sugar             158355 non-null  int64
 20  cholesterol_hdl                 158355 non-null  int64
 21  cholesterol_ldl                 158355 non-null  int64
 22  triglycerides                   158355 non-null  int64
 23  EKG_results                     158355 non-null  object
 24  previous_heart_disease          158355 non-null  int64
 25  medication_usage                158355 non-null  int64
 26  participated_in_free_screening  158355 non-null  int64
 27  heart_attack                    158355 non-null  int64
dtypes: float64(1), int64(17), object(10)
memory usage: 33.8+ MB

In [23]:
df.columns

Index(['age', 'gender', 'region', 'income_level', 'hypertension', 'diabetes',
       'cholesterol_level', 'obesity', 'waist_circumference', 'family_history',
       'smoking_status', 'alcohol_consumption', 'physical_activity',
       'dietary_habits', 'air_pollution_exposure', 'stress_level',
       'sleep_hours', 'blood_pressure_systolic', 'blood_pressure_diastolic',
       'fasting_blood_sugar', 'cholesterol_hdl', 'cholesterol_ldl',
       'triglycerides', 'EKG_results', 'previous_heart_disease',
       'medication_usage', 'participated_in_free_screening', 'heart_attack'],
      dtype='object')

In [24]:
df.dtypes

age                                 int64
gender                             object
region                             object
income_level                       object
hypertension                        int64
diabetes                            int64
cholesterol_level                   int64
obesity                             int64
waist_circumference                 int64
family_history                      int64
smoking_status                     object
alcohol_consumption                object
physical_activity                  object
dietary_habits                     object
air_pollution_exposure             object
stress_level                       object
sleep_hours                       float64
blood_pressure_systolic             int64
blood_pressure_diastolic            int64
fasting_blood_sugar                 int64
cholesterol_hdl                     int64
cholesterol_ldl                     int64
triglycerides                       int64
EKG_results                        object
previous_heart_disease              int64
medication_usage                    int64
participated_in_free_screening      int64
heart_attack                        int64
dtype: object

In [25]:
object_columns = df.select_dtypes(include=['object']).columns
object_columns

Index(['gender', 'region', 'income_level', 'smoking_status',
       'alcohol_consumption', 'physical_activity', 'dietary_habits',
       'air_pollution_exposure', 'stress_level', 'EKG_results'],
      dtype='object')

In [26]:
df[object_columns]

,gender,region,income_level,smoking_status,alcohol_consumption,physical_activity,dietary_habits,air_pollution_exposure,stress_level,EKG_results
0,Male,Rural,Middle,Never,NaN,High,Unhealthy,Moderate,Moderate,Normal
1,Female,Urban,Low,Past,NaN,Moderate,Healthy,High,High,Normal
2,Female,Urban,Low,Past,Moderate,Moderate,Healthy,Low,Low,Abnormal
3,Male,Urban,Low,Never,Moderate,Moderate,Unhealthy,Low,High,Normal
4,Male,Urban,Middle,Current,Moderate,Moderate,Unhealthy,High,Moderate,Normal
...,...,...,...,...,...,...,...,...,...,...
158350,Female,Rural,Middle,Never,NaN,High,Healthy,Moderate,High,Normal
158351,Female,Urban,Low,Never,NaN,Moderate,Healthy,High,High,Normal
158352,Male,Urban,Middle,Past,Moderate,Low,Healthy,Low,Moderate,Abnormal
158353,Male,Urban,Middle,Past,NaN,Low,Unhealthy,High,High,Normal
158354,Male,Urban,Middle,Past,NaN,Moderate,Unhealthy,Moderate,High,Abnormal

In [27]:
y = df['heart_attack']
X = df.drop(columns=['heart_attack'])

X = pd.get_dummies(X, drop_first=True)

In [28]:
X.sample(20)

,age,hypertension,diabetes,cholesterol_level,obesity,waist_circumference,family_history,sleep_hours,blood_pressure_systolic,blood_pressure_diastolic,...,smoking_status_Past,alcohol_consumption_Moderate,physical_activity_Low,physical_activity_Moderate,dietary_habits_Unhealthy,air_pollution_exposure_Low,air_pollution_exposure_Moderate,stress_level_Low,stress_level_Moderate,EKG_results_Normal
91277,37,0,0,187,0,99,0,5.260902,116,73,...,False,True,False,True,True,False,True,False,True,True
40399,42,0,0,215,0,95,1,5.320446,106,65,...,False,False,False,True,True,False,False,True,False,True
108846,46,0,0,177,1,98,1,8.694623,130,57,...,False,False,False,False,False,False,True,False,True,True
20505,55,1,0,202,0,108,0,4.593940,146,92,...,False,False,False,True,True,False,False,False,True,False
115789,60,0,0,197,0,86,0,5.450820,98,88,...,False,False,False,False,True,False,True,False,True,True
43726,51,0,0,184,1,100,0,6.473650,135,83,...,False,False,True,False,True,True,False,True,False,False
55195,26,1,1,197,0,113,0,5.672934,137,77,...,False,False,True,False,True,False,True,True,False,True
125894,52,1,0,223,0,108,0,9.000000,181,93,...,False,False,True,False,False,False,True,False,False,True
146941,48,1,0,158,0,71,0,4.187342,139,77,...,False,True,False,True,True,False,False,False,True,True
20351,60,0,0,255,0,100,0,7.846205,97,75,...,False,False,False,True,True,False,True,True,False,False
130663,62,0,0,145,0,99,0,6.566771,146,75,...,False,False,False,False,False,True,False,False,False,True
108617,49,0,0,209,0,114,1,6.450785,127,78,...,False,True,False,True,True,False,True,False,True,True
124174,54,0,0,167,0,104,0,5.048432,142,71,...,False,False,False,True,True,False,True,False,True,True
41318,42,0,0,196,0,91,0,5.846249,120,80,...,False,True,True,False,False,False,True,True,False,False
110628,59,0,1,204,0,105,0,6.101099,116,83,...,False,True,False,True,False,False,True,True,False,True
155034,39,1,0,236,1,114,0,6.587578,135,83,...,True,False,True,False,True,False,False,False,True,True
35269,70,0,1,246,1,94,0,7.028843,138,74,...,False,False,False,True,False,True,False,False,True,True
59663,41,0,0,259,0,109,1,8.707190,115,72,...,False,False,True,False,True,True,False,False,True,True
57815,61,1,0,235,1,86,1,3.313909,123,73,...,False,False,True,False,False,False,True,False,True,True
133728,60,1,0,162,0,84,1,7.658484,148,90,...,False,True,True,False,True,True,False,False,False,True

In [29]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

X_scaled = scaler.fit_transform(X)

In [33]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X_scaled, y, test_size=0.2, random_state=0)

model = LogisticRegression()

model.fit(X_train, y_train)

y_pred = model.predict(X_test)

from sklearn.metrics import accuracy_score, f1_score, confusion_matrix

accuracy_score(y_test, y_pred)

0.7292475766474061

In [34]:
f1_score(y_test, y_pred)

0.6304994182789676

In [35]:
confusion_matrix(y_test, y_pred)

array([[15780,  3270],
       [ 5305,  7316]])